<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="wrapper">
      <form action="hello" method="POST">
        <div class="header">
          <span class="title">Tell Hawking Bot what to say</span>
        </div>
        <div class="fields">
          <input type="text" name="deepthought" placeholder="Theories of the universe" />
          <button>Talk to me</button>
        </div>
      </form>
    </div>
  </body>
</html>